<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>echarts大屏展示</title>
		<script src="{{ url_for('static', filename='echarts.js') }}"></script>
		<link href="../static/css/main.css" rel="stylesheet" />
	</head>

	<body>
		<div id="home">
			<div id="title">
				河源二手房数据可视化大屏
			</div>
			<div id="name">by zyf</div>
			<div id="l1">左1</div>
			<div id="l2">左2</div>
			<div id="c1">
				<button type="button1" onclick="window.location.href='/';">首页</button>
				<button type="button1" onclick="window.location.href='chuzufang';">出租房</button>
				<button type="button1" onclick="window.location.href='ershoufang';">二手房</button>
				<button type="button1" onclick="window.location.href='new';">新房</button>
			</div>
			<div id="c2">中2</div>
			<div id="r1">右1</div>
			<div id="r2">右2</div>
		</div>

		<script type="text/javascript">

		</script>
	</body>

</html>